@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  background-color: #F1F5F9;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-family: monospace;
  color: #1E293B;
  margin-top: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
  margin: 0;
  color: #0F172A;
}

.blinking-cursor {
  font-weight: 50;
  font-size: 20px;
  color: #1E293B;
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1E293B;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1E293B;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1E293B;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1E293B;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1E293B;
  }
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  padding-right: 15px;
}